*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgba(241, 157, 61, 0.884);
  color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
}
body .container {
  background: url(/assets/images/emile-perron-xrVDYZRGdw4-unsplash.jpg) center/cover no-repeat;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  min-height: 90vh;
  padding: 2rem;
  margin: 30px auto;
  position: relative;
}
body section {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
}
body .nav-home {
  position: absolute;
  top: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 80px;
}
body .nav-home nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body .nav-home nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
body .nav-home nav ul li {
  list-style-type: none;
  margin-left: 20px;
}
body .nav-home nav ul li:first-child {
  margin-left: 0;
}
body .nav-home nav ul li a {
  color: rgb(238, 238, 238);
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}
body .nav-home nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(236, 217, 129);
  transition: width 0.3s ease;
}
body .nav-home nav ul li a:hover::after {
  width: 100%;
}
body .nav-home nav ul li a:hover {
  color: rgb(236, 217, 129);
}
body .logo {
  margin-right: auto;
}
body .logo a {
  color: rgb(238, 238, 238);
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}
body .logo a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(236, 217, 129);
  transition: width 0.3s ease;
}
body .logo a:hover::after {
  width: 100%;
}
body .logo a:hover {
  color: rgb(236, 217, 129);
}
body .background-tint {
  background-color: rgba(163, 105, 39, 0.904);
  background-blend-mode: multiply;
}
body .hero-content {
  position: relative;
  top: 110px;
}
body .hero-content h1 {
  color: rgb(240, 240, 240);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
body .hero-content .first-name {
  text-transform: uppercase;
  font-weight: 200;
}
body .hero-content .last-name {
  display: block;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
}
body .hero-content p {
  text-transform: capitalize;
  font-size: 1.7rem;
  font-weight: 200;
  margin-bottom: 20px;
}
body .learn-more-btn {
  padding: 0.5rem 1rem;
  background-color: rgba(241, 170, 88, 0.5);
  color: rgb(238, 238, 238);
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-right: 15px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s;
}
body .learn-more-btn:hover {
  background-color: rgb(236, 217, 129);
  color: rgb(16, 29, 29);
}
body .icons {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -60px;
  left: -380px;
}
body .icons .social-icon {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  overflow: visible;
}
body .icons .social-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgb(238, 238, 238);
  border-radius: 50%;
  text-decoration: none;
  background-color: rgba(241, 157, 61, 0.884);
  transition: background-color 0.3s;
}
body .icons .social-icon a:hover {
  background-color: rgba(51, 51, 51, 0.8);
}
body .icons .social-icon a:hover .social-text {
  visibility: visible;
  opacity: 1;
}
body .icons .social-icon .social-text {
  position: absolute;
  width: 120px;
  left: 50%;
  top: 0;
  background: rgba(241, 157, 61, 0.884);
  color: rgb(238, 238, 238);
  text-align: center;
  border-radius: 0 5px 5px 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
body .icons .social-icon ion-icon {
  font-size: 1.8em;
  color: rgb(235, 244, 246);
}/*# sourceMappingURL=styles.css.map */