// Variables

// Colors
$background-image: url(emile-perron-xrVDYZRGdw4-unsplash.jpg);
$bg-ct-gray: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.15) 0%, hsla(0, 0%, 0%, 0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
$background-blend-mode: multiply, multiply;
$bg-color-gold: hsla(32, 87%, 59%, 0.884);
$bg-color-lite: hsl(191, 38%, 94%);
$bg-color-dark: hsl(180, 29%, 9%);
$bg-btn-gold: hsla(32, 85%, 65%, 0.5);
$h1-color-lite: hsl(0, 0%, 94%);
$btn-color-hover: hsl(49, 74%, 72%);
$social-bg-gray: hsla(0, 0%, 20%, 0.8);

// Font colors
$font-lite: hsl(0, 0%, 93%);
$font-gray: hsl(128, 10%, 45%);