// Main .scss file

// Imported styles
@import "./about";
@import "./colors";
@import "./resets";
@import "./typography";

// Body
body {
  background-color: $bg-color-gold;
  color: $text-color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  
  // Container styles
  .container {
    background: url(/assets/images/emile-perron-xrVDYZRGdw4-unsplash.jpg) center / cover no-repeat;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.9), 0 6px 20px 0 rgba(0,0,0,0.20);
    width: 80%;
    min-height: 90vh;
    max-width: 100%;
    padding: 2rem;
    margin: 30px auto;
    position: relative;
  }

  section {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
  }

  // Navigation styles
  .nav-home {
    position: absolute;
    top: 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          margin-left: 20px;

          &:first-child {
            margin-left: 0;
          }

          a {
            color: $text-color-primary;
            text-transform: capitalize;
            text-decoration: none;
            position: relative;
            padding-bottom: 5px;
            transition: color 0.3s ease;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 0;
              height: 2px;
              background-color: $btn-color-hover;
              transition: width 0.3s ease;
            }

            &:hover::after {
              width: 100%;
            }

            &:hover {
              color: $btn-color-hover;
            }
          }
        }
      }
    }
  }

  // Logo styles
  .logo {
    margin-right: auto;

    a {
      color: $text-color-primary;
      text-transform: capitalize;
      text-decoration: none;
      position: relative;
      padding-bottom: 5px;
      transition: color 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: $btn-color-hover;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover {
        color: $btn-color-hover;
      }
    }
  }

  // Styles for the tint over the background image as well as the typography and buttons
  .background-tint {
    background-color: $bg-color-gold;
    background-blend-mode: multiply;
  }

  .hero-content {
    position: relative;
    top: 110px;

    h1 {
      color: $text-color-primary;
      text-shadow: 2px 2px 2px rgb(0, 0, 0);
    }

    .first-name {
      text-transform: uppercase;
      font-weight: 200;
    }

    .last-name {
      display: block;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 900;
    }

    p {
      text-transform: capitalize;
      font-size: 1.7rem;
      font-weight: $font-weight-regular;
      margin-bottom: 20px;
    }

    .projects-btn {
      padding: 0.5rem 1rem;
      background-color: $bg-btn-gold;
      color: $text-color-primary;
      font-size: 1.2rem;
      text-transform: capitalize;
      margin-right: 15px;
      border-radius: 5px;
      border: none;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: $btn-color-hover;
        color: $bg-color-dark;
      }
    }
  }

 
  // Social media icon styles
  .icons {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -60px;
    left: -380px;

    .social-icon {
      display: inline-block;
      position: relative;
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
      overflow: visible;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $text-color-primary;
        border-radius: 50%;
        text-decoration: none;
        background-color: $bg-color-gold;
        transition: background-color 0.3s;

        &:hover {
          background-color: $social-bg-gray;

          .social-text {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .social-text {
        position: absolute;
        width: 120px;
        left: 50%;
        top: 0;
        background: $bg-color-gold;
        color: $text-color-primary;
        text-align: center;
        border-radius: 0 5px 5px 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
      }

      ion-icon {
        font-size: 1.8em;
        color: $bg-color-lite;
      }
    }
  }
}

