// Variables

// Colors
$background-image: url(emile-perron-xrVDYZRGdw4-unsplash.jpg);
$bg-ct-gray: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
$background-blend-mode: multiply, multiply;
$bg-color-gold: rgba(241, 157, 61, 0.884);
$bg-color-lite: rgb(235, 244, 246);
$bg-color-dark: rgb(16, 29, 29);
$bg-btn-gold: rgba(241, 170, 88, 0.5);
$h1-color-lite: rgb(240, 240, 240);
$btn-color-hover: rgb(236, 217, 129);
$social-bg-gray: rgba(51, 51, 51, 0.8);

// Fonts
$font-lite: rgb(238, 238, 238);
$font-gray: rgb(103, 125, 106);